//$theme-color: #ec4e4f;
$theme-color: #fe441c;

$form-border-focus-color: #66afe9;

$gutter: 0.16rem;
$gutter-margin: 0.32rem;
$filter-bar-height: 40px;
$tabbar-height: 50px;

//== Buttons
//
$btn-default-color:                     #fff;
$btn-default-bg:                        $theme-color;
$btn-default-border:                    $theme-color;
$btn-outline-default-color:            $theme-color;
$btn-outline-default-bg:               #fff;
$btn-outline-default-border:           $theme-color;

$btn-gray-color:                         #fff;
$btn-gray-bg:                            #c2c2c2;
$btn-gray-border:                       #c2c2c2;
$btn-outline-gray-color:                #c2c2c2;
$btn-outline-gray-bg:                   #fff;
$btn-outline-gray-border:               #c2c2c2;

$btn-warning-color:                     #fff;
$btn-warning-bg:                        #fe8417;
$btn-warning-border:                    #fe8417;
$btn-outline-warning-color:            #fe8417;
$btn-outline-warning-bg:               #fff;
$btn-outline-warning-border:           #fe8417;
